{# Map center #}
{% set lat = settings.lat|number_format(6, '.', '') %}
{% set lng = settings.lng|number_format(6, '.', '') %}
{% set zoom = settings.zoom|default(16) %}

{# Map dimensions #}
{% set width = settings.width|default(600) %}
{% set height = settings.height|default(600) %}

{# Marker settings #}
{% set markerLat = settings.markerLat|default(settings.lat)|number_format(6, '.', '') %}
{% set markerLng = settings.markerLng|default(settings.lng)|number_format(6, '.', '') %}
{% set markerTitle = settings.markerTitle|default('') %}

{# Info window settings #}
{% set infoWidth = width/2|round() %}
{% set infoHeight = height/4|round() %}

<div class="contentTop pageTitle">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <h1>Контактная информация</h1>
            </div>
        </div>
    </div>
</div>

<div class="boxMap">
    <div class="gMap-holder" id="ns-map-{{ uid }}"></div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ settings.apiKey }}&sensor=false"></script>
<script type="text/javascript">
    (function(){
        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng({{ lat }}, {{ lng }}),
                zoom: {{ zoom }},
                scrollwheel: false
            };
            var map = new google.maps.Map(document.getElementById("ns-map-{{ uid }}"), mapOptions);

            var markerImage = new google.maps.MarkerImage(
                '{{ asset('bundles/slfront/img/descriptionMap.png') }}',
                new google.maps.Size(37, 19)
            );

            var marker = new google.maps.Marker({
                position: new google.maps.LatLng({{ markerLat }}, {{ markerLng }}),
                map: map,
                title:"{{ markerTitle }}",
                icon: markerImage
            });

            var contentString = '<div id="contentMap">' +
                    '<div class="telMap">+7 (495) <span>744 6450</span></div>' +
                    '<div class="email">email@domin.com</div>' +
                    '<p>Московская область,<br> г. Железнодорожный, ул. Речная, влад. 2.</p>' +

                    '</div>';
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            infowindow.open(map,marker);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    })();
</script>

