<div class="navbar" role="navigation">
    <div class="logo"><a href="{{ url('ns_cms_main') }}"><img src="{{ asset('/bundles/slfront/img/logo.png') }}" alt=""></a></div>

    <div class="blockNav">
        <nav>

            <button type="button" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="nameButton">Главное меню</span>
            </button>

            <ul class="nav navbar-nav" id="nav-main">
                {% for item in menu.children if item.displayed %}
                    <li{% if matcher.isCurrent(item) or matcher.isAncestor(item) %} class="active"{% endif %}>
                        <a href="{{ item.uri }}">{{ item.label|upper }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="navbar-open">
                <ul class="nav navbar-nav">
                    {% for item in menu.children if item.displayed %}
                        <li><a href="{{ item.uri }}">{{ item.label|upper }}</a></li>
                    {% endfor %}
                </ul>
            </div>

        </nav>
    </div>
</div>
