{% extends 'NSCmsBundle:Pages:page.html.twig' %}

{% block content %}
    {# CONTENT AREA #}
    {{ ns_cms_area(blocks, 'content') }}


    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="blockProducts">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab">Новые поступления</a></li>
                        <li><a href="#tab_2" data-toggle="tab">Распродажа</a></li>
                        <li><a href="#tab_3" data-toggle="tab">Бестселлеры</a></li>
                    </ul>

                    <div class="clear"></div>

                    <div class="tab-content">
                        <div class="tab-pane in active" id="tab_1">
                            <div class="row clearfix">
                                {{ ns_cms_area(blocks, 'content_tab1') }}
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_2">
                            <div class="row clearfix">
                                {{ ns_cms_area(blocks, 'content_tab2') }}
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_3">
                            <div class="row clearfix">
                                {{ ns_cms_area(blocks, 'content_tab3') }}
                            </div>
                        </div>

    <div class="tab-pane" id="tab_2">
        <div class="row clearfix">
            <ul class="productsList">
                <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="oneProduct">
                        <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_1.jpg') }}" alt=""></a>
                        <p class="price">1200.00 руб.</p>
                        <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                        <a href="#" class="btn">В корзину</a>
                        <div class="new">NEW</div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="oneProduct">
                        <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_2.jpg') }}" alt=""></a>
                        <p class="price">1200.00 руб.</p>
                        <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                        <a href="#" class="btn">В корзину</a>
                        <div class="new">NEW</div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="oneProduct">
                        <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_8.jpg') }}" alt=""></a>
                        <p class="price">1200.00 руб.</p>
                        <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                        <a href="#" class="btn">В корзину</a>
                        <div class="new">NEW</div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="oneProduct">
                        <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_4.jpg') }}" alt=""></a>
                        <p class="price">1200.00 руб.</p>
                        <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                        <a href="#" class="btn">В корзину</a>
                        <div class="new">NEW</div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="oneProduct">
                        <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_5.jpg') }}" alt=""></a>
                        <p class="price">1200.00 руб.</p>
                        <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                        <a href="#" class="btn">В корзину</a>
                        <div class="new">NEW</div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="oneProduct">
                        <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_6.jpg') }}" alt=""></a>
                        <p class="price">1200.00 руб.</p>
                        <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                        <a href="#" class="btn">В корзину</a>
                        <div class="new">NEW</div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="oneProduct">
                        <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_7.jpg') }}" alt=""></a>
                        <p class="price">1200.00 руб.</p>
                        <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                        <a href="#" class="btn">В корзину</a>
                        <div class="new">NEW</div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="oneProduct">
                        <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_3.jpg') }}" alt=""></a>
                        <p class="price">1200.00 руб.</p>
                        <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                        <a href="#" class="btn">В корзину</a>
                        <div class="new">NEW</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-pane" id="tab_3">
        <div class="row clearfix">
            <ul class="productsList">
                <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="oneProduct">
                        <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_7.jpg') }}" alt=""></a>
                        <p class="price">1200.00 руб.</p>
                        <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                        <a href="#" class="btn">В корзину</a>
                        <div class="new">NEW</div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="oneProduct">
                        <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_2.jpg') }}" alt=""></a>
                        <p class="price">1200.00 руб.</p>
                        <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                        <a href="#" class="btn">В корзину</a>
                        <div class="new">NEW</div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="oneProduct">
                        <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_3.jpg') }}" alt=""></a>
                        <p class="price">1200.00 руб.</p>
                        <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                        <a href="#" class="btn">В корзину</a>
                        <div class="new">NEW</div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="oneProduct">
                        <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_4.jpg') }}" alt=""></a>
                        <p class="price">1200.00 руб.</p>
                        <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                        <a href="#" class="btn">В корзину</a>
                        <div class="new">NEW</div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="oneProduct">
                        <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_5.jpg') }}" alt=""></a>
                        <p class="price">1200.00 руб.</p>
                        <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                        <a href="#" class="btn">В корзину</a>
                        <div class="new">NEW</div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="oneProduct">
                        <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_6.jpg') }}" alt=""></a>
                        <p class="price">1200.00 руб.</p>
                        <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                        <a href="#" class="btn">В корзину</a>
                        <div class="new">NEW</div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="oneProduct">
                        <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_1.jpg') }}" alt=""></a>
                        <p class="price">1200.00 руб.</p>
                        <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                        <a href="#" class="btn">В корзину</a>
                        <div class="new">NEW</div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="oneProduct">
                        <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_8.jpg') }}" alt=""></a>
                        <p class="price">1200.00 руб.</p>
                        <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                        <a href="#" class="btn">В корзину</a>
                        <div class="new">NEW</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
{% endblock %}