<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=640">

    <title>{{ page.title }}</title>

    <link rel='shortcut icon' type='image/x-icon' href='{{ asset('/favicon.ico') }}' />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('/bundles/slfront/css/bootstrap.css') }}" type="text/css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/slfront/css/jquery.formstyler.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/slfront/css/flexslider.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/slfront/css/skin.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/slfront/css/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/slfront/css/custom.css') }}" />
    <!--[if lt IE 9]><script src="{{ asset('/bundles/slfront/js/html5.js') }}"></script><![endif]-->
</head>
<body>

<section class="lineTop">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                {# HEADER AREA #}
                {{ ns_cms_area(blocks, 'header') }}
            </div>
        </div>
    </div>
</section>

<header>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                {# MENU AREA #}
                {{ ns_cms_area(blocks, 'menu') }}
            </div>
        </div>
    </div>
</header>

{# CONTENT AREA #}
{{ ns_cms_area(blocks, 'content') }}

<div class="content">
<div class="contentTop">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <a href="#" class="oneBlockImg"><span><img src="{{ asset('/bundles/slfront/img/img_1.png') }}" alt=""></span> Масла для грузовых авто</a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <a href="#" class="oneBlockImg"><span><img src="{{ asset('/bundles/slfront/img/img_2.png') }}" alt=""></span> Масла для легковых авто</a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <a href="#" class="oneBlockImg"><span><img src="{{ asset('/bundles/slfront/img/img_3.png') }}" alt=""></span> Индустриальные масла</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <a href="#" class="oneBlockImg"><span><img src="{{ asset('/bundles/slfront/img/img_4.png') }}" alt=""></span> Масла для мотоциклов</a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <a href="#" class="oneBlockImg"><span><img src="{{ asset('/bundles/slfront/img/img_5.png') }}" alt=""></span> Смазки</a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <a href="#" class="oneBlockImg"><span><img src="{{ asset('/bundles/slfront/img/img_6.png') }}" alt=""></span> Прочее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
<div class="row clearfix">
<div class="col-lg-12">
<div class="blockProducts">
<ul class="nav nav-tabs">
    <li class="active"><a href="#tab_1" data-toggle="tab">Новые поступления</a></li>
    <li><a href="#tab_2" data-toggle="tab">Распродажа</a></li>
    <li><a href="#tab_3" data-toggle="tab">Бестселлеры</a></li>
</ul>
<div class="clear"></div>
<div class="tab-content">
<div class="tab-pane in active" id="tab_1">
    <div class="row clearfix">
        <ul class="productsList">
            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="oneProduct">
                    <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_1.jpg') }}" alt=""></a>
                    <p class="price">1200.00 руб.</p>
                    <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                    <a href="#" class="btn">В корзину</a>
                    <div class="new">NEW</div>
                </div>
            </li>
            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="oneProduct">
                    <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_2.jpg') }}" alt=""></a>
                    <p class="price">1200.00 руб.</p>
                    <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                    <a href="#" class="btn">В корзину</a>
                    <div class="new">NEW</div>
                </div>
            </li>
            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="oneProduct">
                    <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_3.jpg') }}" alt=""></a>
                    <p class="price">1200.00 руб.</p>
                    <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                    <a href="#" class="btn">В корзину</a>
                    <div class="new">NEW</div>
                </div>
            </li>
            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="oneProduct">
                    <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_4.jpg') }}" alt=""></a>
                    <p class="price">1200.00 руб.</p>
                    <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                    <a href="#" class="btn">В корзину</a>
                    <div class="new">NEW</div>
                </div>
            </li>
            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="oneProduct">
                    <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_5.jpg') }}" alt=""></a>
                    <p class="price">1200.00 руб.</p>
                    <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                    <a href="#" class="btn">В корзину</a>
                    <div class="new">NEW</div>
                </div>
            </li>
            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="oneProduct">
                    <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_6.jpg') }}" alt=""></a>
                    <p class="price">1200.00 руб.</p>
                    <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                    <a href="#" class="btn">В корзину</a>
                    <div class="new">NEW</div>
                </div>
            </li>
            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="oneProduct">
                    <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_7.jpg') }}" alt=""></a>
                    <p class="price">1200.00 руб.</p>
                    <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                    <a href="#" class="btn">В корзину</a>
                    <div class="new">NEW</div>
                </div>
            </li>
            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="oneProduct">
                    <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_8.jpg') }}" alt=""></a>
                    <p class="price">1200.00 руб.</p>
                    <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                    <a href="#" class="btn">В корзину</a>
                    <div class="new">NEW</div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="tab-pane" id="tab_2">
    <div class="row clearfix">
        <ul class="productsList">
            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="oneProduct">
                    <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_1.jpg') }}" alt=""></a>
                    <p class="price">1200.00 руб.</p>
                    <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                    <a href="#" class="btn">В корзину</a>
                    <div class="new">NEW</div>
                </div>
            </li>
            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="oneProduct">
                    <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_2.jpg') }}" alt=""></a>
                    <p class="price">1200.00 руб.</p>
                    <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                    <a href="#" class="btn">В корзину</a>
                    <div class="new">NEW</div>
                </div>
            </li>
            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="oneProduct">
                    <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_8.jpg') }}" alt=""></a>
                    <p class="price">1200.00 руб.</p>
                    <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                    <a href="#" class="btn">В корзину</a>
                    <div class="new">NEW</div>
                </div>
            </li>
            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="oneProduct">
                    <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_4.jpg') }}" alt=""></a>
                    <p class="price">1200.00 руб.</p>
                    <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                    <a href="#" class="btn">В корзину</a>
                    <div class="new">NEW</div>
                </div>
            </li>
            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="oneProduct">
                    <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_5.jpg') }}" alt=""></a>
                    <p class="price">1200.00 руб.</p>
                    <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                    <a href="#" class="btn">В корзину</a>
                    <div class="new">NEW</div>
                </div>
            </li>
            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="oneProduct">
                    <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_6.jpg') }}" alt=""></a>
                    <p class="price">1200.00 руб.</p>
                    <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                    <a href="#" class="btn">В корзину</a>
                    <div class="new">NEW</div>
                </div>
            </li>
            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="oneProduct">
                    <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_7.jpg') }}" alt=""></a>
                    <p class="price">1200.00 руб.</p>
                    <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                    <a href="#" class="btn">В корзину</a>
                    <div class="new">NEW</div>
                </div>
            </li>
            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="oneProduct">
                    <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_3.jpg') }}" alt=""></a>
                    <p class="price">1200.00 руб.</p>
                    <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                    <a href="#" class="btn">В корзину</a>
                    <div class="new">NEW</div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="tab-pane" id="tab_3">
    <div class="row clearfix">
        <ul class="productsList">
            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="oneProduct">
                    <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_7.jpg') }}" alt=""></a>
                    <p class="price">1200.00 руб.</p>
                    <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                    <a href="#" class="btn">В корзину</a>
                    <div class="new">NEW</div>
                </div>
            </li>
            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="oneProduct">
                    <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_2.jpg') }}" alt=""></a>
                    <p class="price">1200.00 руб.</p>
                    <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                    <a href="#" class="btn">В корзину</a>
                    <div class="new">NEW</div>
                </div>
            </li>
            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="oneProduct">
                    <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_3.jpg') }}" alt=""></a>
                    <p class="price">1200.00 руб.</p>
                    <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                    <a href="#" class="btn">В корзину</a>
                    <div class="new">NEW</div>
                </div>
            </li>
            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="oneProduct">
                    <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_4.jpg') }}" alt=""></a>
                    <p class="price">1200.00 руб.</p>
                    <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                    <a href="#" class="btn">В корзину</a>
                    <div class="new">NEW</div>
                </div>
            </li>
            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="oneProduct">
                    <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_5.jpg') }}" alt=""></a>
                    <p class="price">1200.00 руб.</p>
                    <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                    <a href="#" class="btn">В корзину</a>
                    <div class="new">NEW</div>
                </div>
            </li>
            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="oneProduct">
                    <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_6.jpg') }}" alt=""></a>
                    <p class="price">1200.00 руб.</p>
                    <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                    <a href="#" class="btn">В корзину</a>
                    <div class="new">NEW</div>
                </div>
            </li>
            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="oneProduct">
                    <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_1.jpg') }}" alt=""></a>
                    <p class="price">1200.00 руб.</p>
                    <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                    <a href="#" class="btn">В корзину</a>
                    <div class="new">NEW</div>
                </div>
            </li>
            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="oneProduct">
                    <a href="#"><img src="{{ asset('/bundles/slfront/img/01_img_8.jpg') }}" alt=""></a>
                    <p class="price">1200.00 руб.</p>
                    <a href="#" class="name">Полусинтетическое моторное масло MoS2 Leichtlauf 10W-40</a>
                    <a href="#" class="btn">В корзину</a>
                    <div class="new">NEW</div>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="boxNews">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <h2>Новости отрасли</h2>
                <a href="#" class="btn">Все новости</a>
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="boxOneNew">
                            <a href="#"><img src="{{ asset('/bundles/slfront/img/img_new_1.jpg') }}" alt=""></a>
                            <div class="descriptionNew">
                                <div class="descriptionNewCont">
                                    <p class="date">13.02.2014</p>
                                    <a href="#" class="name">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</a>
                                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="boxOneNew">
                            <a href="#"><img src="{{ asset('/bundles/slfront/img/img_new_2.jpg') }}" alt=""></a>
                            <div class="descriptionNew">
                                <div class="descriptionNewCont">
                                    <p class="date">13.02.2014</p>
                                    <a href="#" class="name">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</a>
                                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- CONTENT EOF   -->

<!-- BEGIN FOOTER -->

<footer>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        {# FOOTER AREA #}
                        {{ ns_cms_area(blocks, 'footer1') }}

                        <a href="#"><img src="{{ asset('/bundles/slfront/img/footer_logo.png') }}" alt=""></a>
                        <div class="footerSocial">
                            <a href="#"><img src="{{ asset('/bundles/slfront/img/icon_social_1.png') }}" alt=""></a>
                            <a href="#"><img src="{{ asset('/bundles/slfront/img/icon_social_2.png') }}" alt=""></a>
                            <a href="#"><img src="{{ asset('/bundles/slfront/img/icon_social_3.png') }}" alt=""></a>
                            <a href="#"><img src="{{ asset('/bundles/slfront/img/icon_social_4.png') }}" alt=""></a>
                            <div class="clear"></div>
                        </div>
                        <p>© 2014 Smart Lubricants</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        {# FOOTER AREA #}
                        {{ ns_cms_area(blocks, 'footer2') }}

                        <div class="blockFooterInf">
                            <h3>Smart Lubricants</h3>
                            <ul class="footer-list">
                                <li><a href="#">Компания</a></li>
                                <li><a href="#">Применения</a></li>
                                <li><a href="#">Сервис</a></li>
                                <li><a href="#">Статьи</a></li>
                                <li><a href="#">Библиотека</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        {# FOOTER AREA #}
                        {{ ns_cms_area(blocks, 'footer3') }}

                        <div class="blockFooterInf">
                            <h3>Каталог продукции</h3>
                            <ul class="footer-list">
                                <li><a href="#">Масла для грузовых авто</a></li>
                                <li><a href="#">Масла для легковых авто</a></li>
                                <li><a href="#">Индустриальные масла</a></li>
                                <li><a href="#">Масла для мотоциклов</a></li>
                                <li><a href="#">Прочее</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        {# FOOTER AREA #}
                        {{ ns_cms_area(blocks, 'footer4') }}

                        <div class="blockFooterInf">
                            <h3>Контактная информация</h3>
                            <p><strong>Адрес:</strong> Московская область,<br> г. Железнодорожный, ул. Речная, влад. 2. <strong>Телефон:</strong> <span>+7 (495) <strong>744 6450</strong></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right">
                <div class="smallLogo">
                    <a href="#"><img src="{{ asset('/bundles/slfront/img/small_logo.png') }}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <p><small>Все права на материалы, находящиеся на сайте, охраняются в соответствии с законодательством РФ. При любом использовании материалов сайта, письменное согласие обязательно.</small></p>
            </div>
        </div>
    </div>
</footer>

{# Modal #}
<div class="modal fade" id="cartAdded" tabindex="-1" role="dialog" aria-labelledby="cartAddedLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="cartAddedLabel">Товар добавлен в <a href="{{ url('ns_cms_page_name', {name: 'cart'}) }}">корзину</a></h4>
                <button type="button" class="btn btn-default" data-dismiss="modal">Продолжить</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ asset('/bundles/slfront/js/jquery-1.8.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/bundles/slfront/js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ asset('/bundles/slfront/js/jquery.formstyler.js') }}" ></script>
<script type="text/javascript" src="{{ asset('/bundles/slfront/js/jquery.flexslider.js') }}" ></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{{ asset('/bundles/slfront/js/ui-slider.js') }}"></script>
<script type="text/javascript" src="{{ asset('/bundles/slfront/js/jquery.jcarousel.js') }}"></script>
<script type="text/javascript" src="{{ asset('/bundles/slfront/js/custom.js') }}" ></script>
</body>
</html>
