{% extends 'NSCmsBundle:Pages:page.html.twig' %}

{% block content %}
    {# CONTENT AREA #}
    {{ ns_cms_area(blocks, 'content') }}


    {# TABS #}
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="blockProducts">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab">Новые поступления</a></li>
                        <li><a href="#tab_2" data-toggle="tab">Распродажа</a></li>
                        <li><a href="#tab_3" data-toggle="tab">Бестселлеры</a></li>
                    </ul>

                    <div class="clear"></div>

                    <div class="tab-content">
                        <div class="tab-pane in active" id="tab_1">
                            <div class="row clearfix">
                                {{ ns_cms_area(blocks, 'content_tab1') }}
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_2">
                            <div class="row clearfix">
                                {{ ns_cms_area(blocks, 'content_tab2') }}
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_3">
                            <div class="row clearfix">
                                {{ ns_cms_area(blocks, 'content_tab3') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# BOTTOM CONTENT AREA #}
    {{ ns_cms_area(blocks, 'content_bottom') }}
{% endblock %}