{% if item %}
    <div class="contentTop pageTitle">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12">
                    <h1>{{ item.title }}</h1>
                    <div class="titleSocial">
                        <div class="widget" id="vk_like"></div>
                        <script type="text/javascript">
                            VK.Widgets.Like("vk_like", {type: "mini"});
                        </script>

                        <div class="widget fb-like" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="boxCard">
                    <div class="imgCard">
                        <div class="imgBig">
                            <img src="{{ ('upload/j/' ~ item.settings.photos[0]) | apply_filter('catalog_item_medium') }}" width="458" height="458" alt="{{ item.title }}">
                        </div>
                        <div class="listImgSmall1">
                            <ul id="list_img_1" class="jcarousel-skin-tango">
                                {% for photo in item.settings.photos %}
                                    <li{% if loop.first %} class="active"{% endif %}>
                                        <a href="#" data-big="{{ ('upload/j/' ~ photo) | apply_filter('catalog_item_medium') }}">
                                            <img src="{{ ('upload/j/' ~ photo) | apply_filter('catalog_item_medium') }}" alt="{{ item.title }}" width="98" height="98">
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="infCard">
                        <div class="infCardCont">
                            {{ item.settings.content|raw }}
                            <div class="cardPrice">
                                <a href="#" class="cardBasket add-to-cart" data-url="{{ url('ns_shop_cart_add') }}" data-id="{{ item.id }}">В корзину</a>
                                <div class="priceCard">{{ item.settings.price|ns_price }} руб.</div>
                            </div>
                            <div class="card-tab">
                                <ul class="nav nav-tabs">
                                    {% if item.settings.specifications %}
                                        <li class="active"><a href="#tab_1" data-toggle="tab">Спецификации</a></li>
                                    {% endif %}
                                    {% if item.settings.characteristics %}
                                        <li{% if not item.settings.specifications %} class="active"{% endif %}><a href="#tab_2" data-toggle="tab">Характеристики</a></li>
                                    {% endif %}
                                    {% if item.settings.advantages %}
                                        <li{% if not item.settings.specifications and not item.settings.characteristics %} class="active"{% endif %}><a href="#tab_3" data-toggle="tab">Преимущества</a></li>
                                    {% endif %}
                                </ul>
                                <div class="clear"></div>
                                <div class="tab-content">
                                    {% if item.settings.specifications %}
                                        <div class="tab-pane in active" id="tab_1">
                                            {{ item.settings.specifications|raw }}
                                        </div>
                                    {% endif %}
                                    {% if item.settings.characteristics %}
                                        <div class="tab-pane{% if not item.settings.specifications %} in active{% endif %}" id="tab_2">
                                            {{ item.settings.characteristics|raw }}
                                        </div>
                                    {% endif %}
                                    {% if item.settings.advantages %}
                                        <div class="tab-pane{% if not item.settings.specifications and not item.settings.characteristics %} in active{% endif %}" id="tab_3">
                                            {{ item.settings.advantages|raw }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
{% else %}
	<p>Товар не найден</p>
{% endif %}